@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 222.2 40% 98%;

    --secondary: 222.2 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --success: 150 100% 6%;
    --success-foreground: 150 86% 65%;

    --warning: 64 100% 6%;
    --warning-foreground: 46 87% 65%;

    --danger: 358 76% 10%;
    --danger-foreground: 358 100% 81%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;

    --radius: 0.35rem;
  }

  .dark {
    --background: 313 78% 1%;
    --background-to: 313 78% 3%;
    --foreground: 313 78% 94%;

    --card: 313 78% 5;
    --card-foreground: 313 40% 98%;

    --popover: 313 78% 5%;
    --popover-foreground: 313 40% 98%;

    --primary: 0 78% 60%;
    --primary-foreground: 0 78% 93%;

    --secondary: 0 78% 17.5%;
    --secondary-foreground: 222.2 40% 98%;

    --success: 150 100% 6%;
    --success-foreground: 150 86% 65%;

    --warning: 64 100% 6%;
    --warning-foreground: 46 87% 65%;

    --danger: 358 76% 10%;
    --danger-foreground: 358 100% 81%;

    --muted: 313 20% 10%;
    --muted-foreground: 0 0% 63%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
  }
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.primary.DEFAULT) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}

body {
  font-family: "Twemoji Country Flags", var(--font-inter);
}

.epr-main .epr-header .epr-category-nav {
  display: none;
}

.epr_q53mwh.epr_vl50xg.epr_-3yva2a.epr_c90x4z.epr_-sisw4f.epr_mw4zr1.epr_-kg0voo.epr_iogimd.epr_wtwvf4.epr_-lzq3oa {
  visibility: hidden;
  height: 0px !important;
}
